<div class="card">
    <div class="card-header title-card">
        <i class="fas fa-users"></i>
        Clientes
    </div>
    <div class="card-body">
        <div class="btn-right">
            <button type="submit" class="btn btn-info" [routerLink]="['/cliente/cadastro']">
                <i class="fa fa-plus"></i>
                Incluir
            </button>
        </div>
        <table class="table table-hover table-bordered table-custom">
            <thead>
                <th>
                    Nome
                </th>
                <th>
                    CPF
                </th>
                <th class="text-center" width="10%">Ações</th>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>
                        {{cliente.nome}}
                    </td>
                    <td>
                        {{cliente.cpf}}
                    </td>
                    <td class="text-center">
                        <button class="btn">
                            <i class="fa fa-edit  btn-icone" title="Editar" (click)="editar(cliente)"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>