<div class="card">
    <div class="card-header title-card">
        <i class="fas fa-file-alt"></i>
        Extrato
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="conta">Conta</label>
                <input type="conta" class="form-control" id="conta" placeholder="Conta" [(ngModel)]="extrato.id"
                    mask="0*">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipoContaDestino" id="poupanca"
                    [value]="tipoContaEnum.POUPANCA" [(ngModel)]="extrato.tipoConta">
                <label class="form-check-label" for="poupanca">Poupança</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipoContaDestino" id="corrente"
                    [value]="tipoContaEnum.CORRENTE" [(ngModel)]="extrato.tipoConta">
                <label class="form-check-label" for="corrente">Corrente</label>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary" (click)="pesquisar()">
                    <i class="fa fa-search"></i>
                    Pesquisar
                </button>
            </div>
        </div>
        <div id="extrato">
            <label for="conta">Conta: </label> {{extrato.id}}

            <table class="table table-hover table-bordered table-custom">
                <thead>
                    <th>
                        Data
                    </th>
                    <th>
                        Lançamento
                    </th>
                    <th>
                        Valor (R$)
                    </th>
                    <th>
                        Saldo (R$)
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let extrato of extratos">
                        <td>
                            {{extrato.data | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{extrato.tipoOperacao.nome}}
                        </td>
                        <td [ngClass]="extrato.tipoTransacao.codigo == tipoTransacaoEnum.DEBITO ? 'debito' : 'credito'">
                            <span *ngIf="extrato.tipoTransacao.codigo == tipoTransacaoEnum.DEBITO">-</span>
                            <span *ngIf="extrato.tipoTransacao.codigo == tipoTransacaoEnum.CREDITO">+</span>

                            {{ extrato.valor | currency:'R$' }}
                        </td>
                        <td class="coluna-valores">
                            {{extrato.saldoConta | currency:'R$'}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-bordered table-custom">
                <tbody>
                    <tr>
                        <td class="text-right valor-total">
                            Valor Total
                        </td>
                        <td class="credito" width="23%">
                            {{valorTotal | currency:'R$'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-right mt-4">
            <button type="button" class="btn btn-outline-secondary" [routerLink]="['/operacoes-bancarias']">
                <i class="fas fa-arrow-left"></i>
                Voltar
            </button>
            <button type="button" class="btn btn-primary" (click)="imprimir()">
                <i class="fa fa-print"></i>
                Imprimir
            </button>
        </div>
    </div>
</div>