<div class="card">
  <div class="card-header title-card">
      <i class="fas fa-briefcase"></i>
      Operações Bancárias
  </div>
  <div class="card-body">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <button class="btn btn-primary btn-painel" type="button" [routerLink]="['/operacoes-bancarias/deposito']">Depósito</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-painel" type="button" [routerLink]="['/operacoes-bancarias/extrato']">Extrato</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <button class="btn btn-primary btn-painel" type="button" [routerLink]="['/operacoes-bancarias/saque']">Saque</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-painel" type="button" [routerLink]="['/operacoes-bancarias/transferencia']">Transferência</button>
      </div>
    </div>
      
  </div>
</div>
